<div class="container">
  <div class="row">
    <h4 class="col-lg-auto bg-light text-center">記事一覧</h4>
  </div>

  <div class="row justify-content-lg-center">
    <table class="table table-borderless table-hover table-inverse border-top border-bottom">
      <thead class="thead-light">
        <tr>
          <th>タイトル</th>
          <th>画像</th>
        </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
              <a href="/articles/<%= article.id %>"></a>
                <tr>
                  <td><%= link_to article_path(article) do %></td>
                  <td>
                  <% if article.images.attached? %>
                    <% article.images.each do |image| %>
                    <% end %>
                    <%= image_tag article.images.first.variant( resize: "150x150" ).processed %>
                  <% else %>
                      <%= image_tag 'no_image.jpg' %>
                  <% end %>
                  <% end %>
                </td>
                </tr>
                <tr>
                  <td><p class="article-details card-text"><%= article.content.truncate(15) %></p></td>
            <% end %>
        </tbody>
    </table>
            <div class="row justify-content-lg-center">
               <%= paginate @articles %>
           </div>
  </div>
</div>