<h1>public/homes#topページ</h1>
<div class="container">
  <div class="row mb-5">
    <div class="mx-auto col-md-4">
      <!-- スライドショーを入れる位置 -->
      <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/top_thumbnail-1.jpg" alt=""><!--青緑-->
        </div>
        <div class="swiper-slide">
          <img src="/assets/top_thumbnail-2.jpg" alt=""> <!--黄色 -->
        </div>
        <div class="swiper-slide">
          <img src="/assets/top_thumbnail-3.jpg" alt=""> <!--ピンク -->
        </div>
        <div class="swiper-slide">
          <img src="/assets/top_thumbnail-4.jpg" alt=""> <!--緑青グラデ -->
        </div>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    </div>
  </div>

      <div class="row mb-5">
        <div class="col col-md-4">
          <h3>Topic<br >
          <small>新着記事</small></h3>
        </div>
          <!-- 新着投稿（bootstrapカード）を入れる位置 -->
          <div class="col-md-4">
            <!--<div class="card mb-4 shadow-sm">-->
            <% @articles.each do |article| %>
              <a href="/articles/<%= article.id %>" class="card h-100 m-0"></a>
              <div class="card">
                <div class="bd-placeholder-img card-img-top">
                  <%= link_to article_path(article) do %>
                  <p class="img-wrap">
                  <% if article.images.attached? %>
                    <%# article.images.each do |image| %>
                      <%#= image_tag image.variant( resize: "150x150" ).processed %>
                    <%# end %>
                    <%= image_tag article.images.first.variant( resize: "150x150" ).processed %>
                  <% else %>
                      <%= image_tag 'no_image.jpg' %>
                  <% end %>
                  </p>
                  <% end %>
                </div>
                <div class="card-body">
                  <p class="article-details card-text"><%= article.content.truncate(15) %></p>
                </div>
              </div>
            <% end %>
          <p class="text-right">
            <%= link_to "その他の記事を見る", articles_path %>
          </p>
          </div>
      </div>
</div>
<script>
const swiper = new Swiper('.swiper', {
  //オプションの設定
  loop: true, //最後までスライドしたら最初の画像に戻る

  //ページネーション表示の設定
  pagination: {
    el: '.swiper-pagination', //ページネーションの要素
  },

  //ナビゲーションボタン（矢印）表示の設定
  navigation: {
    nextEl: '.swiper-button-next', //「次へボタン」要素の指定
    prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
  }
});
</script>