<%= flash[:messege] %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-4-fluid">
      <!-- スライドショーを入れる位置 -->
      <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper__box">
            <%= image_tag 'top_thumbnail-1.jpg' %> <!--青緑-->
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__box">
           <%= image_tag 'top-cafe.jpg' %>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__box">
            <%= image_tag 'top-solo-camp.jpg' %>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__box">
            <%= image_tag 'top_thumbnail-4.jpg' %> <!--緑青グラデ -->
          </div>
        </div>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    </div>
  </div>

  <!--ログイン、新規登録、ゲストログインボタン-->
  <% unless user_signed_in? %>
  <div class="container my-5">
      <div class="row">
        <div class="col mx-auto text-center">
          <h2>tocotoco</h2>
          <p>いつもと違う景色を見にいこう！</p>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag "odekake.svg" %>
              <p>新しい景色を見に行きたい！<br>
              知りたい　発信したい！そんなあなたへ</p>
            </div>
            <div class="col-md-4">
              <%= image_tag "camera.png" %>
              <p>撮った写真を投稿したり<br>
              好きなように発信しよう！</p>
            </div>
            <div class="col-md-4">
              <%= image_tag "memo.svg" %>
              <p>お出かけする時に！<br>
              自分専用Todoリストを自由に使おう！</p>
            </div>
          </div>
          <%= link_to "ログイン・ユーザー登録はこちらから", new_user_session_path, class: "btn btn-success" %>
        </div>
      </div>
  </div>
  <% end %>



      <div class="container top-container">
        <div class="row my-5">
          <h3 class="heading">Topic<small>新着記事</small></h3>
        </div>
           <!-- 新着投稿（bootstrapカード）を入れる位置 -->
        <div class="row">
            <% @articles.each do |article| %>
            <div class="col-md-4 mb-3">
              <div class="card h-80 mb-4 shadow-sm">
                  <%= link_to article_path(article) do %>
                  <% if article.images.attached? %>
                    <%= image_tag article.images.first.variant( resize: "" ).processed, style: "width: 100%; height: 180px; object-fit: cover;" %>
                  <% else %>
                      <%= image_tag 'no_image.jpg',style: "width: 100%; height: 180px; object-fit: cover;" %>
                  <% end %>
                  <% end %>
                <div class="card-body">
                  <p class="card-text"><%= link_to controller: 'public/users', action: 'show', id: article.user_id do %>
                  <%= image_tag article.user.get_profile_image, size: '20x20' %>
                  <% end %>
                  <%= article.user.name %></p>
                  <p class="card-title"><strong><%= article.title %></strong></p>
                  <p class="card-text"><%= article.content.truncate(30) %></p>
                  <!--ハッシュタグ表示-->
                  <div class="mt-3">
                   <% article.article_hashtags.each do |article_hashtag| %>
                   <i class="fas fa-tag"></i>
                   <%= link_to article_hashtag.hashtag.hashname, tag_path(name: article_hashtag.hashtag.hashname) %>
                   <% end %>
                   <!--都道府県データ-->

                 </div>
                  <p class="card-text"><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                </div>
              </div>
            </div>
            <% end %>
        </div>
        <p class="text-right">
            <%= link_to "その他の記事を見る", articles_path %>
        </p>
      </div>
</div>
<script>
const swiper = new Swiper('.swiper', {
  //オプションの設定
  loop: true, //最後までスライドしたら最初の画像に戻る

  //ページネーション表示の設定
  pagination: {
    el: '.swiper-pagination', //ページネーションの要素
  },

  //ナビゲーションボタン（矢印）表示の設定
  navigation: {
    nextEl: '.swiper-button-next', //「次へボタン」要素の指定
    prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
  },
  centeredSlides: true,
  slidesPerView: 2
});
</script>