<div class="container">
  <div class="row">
    <h4 class="heading col-lg-auto text-center">ブックマーク一覧</h4>
  </div>

  <div class="row">
     <div>
       <h5 class="col-lg-auto text-center">ブックマーク一覧(全<%=@bookmarks.count %>件)</h5>
     </div>
     <div class="container">
     <div class="row">
       <% @bookmarks.each do |bookmark| %>
       <div class="col-md-4 mb-3">
           <%= link_to article_path(bookmark.article.id) do %>
           <div class="card mb-4 shadow-sm">
             <div class="card-img-top">
             <% if bookmark.article.images.attached? %>
             <% bookmark.article.images.each do |image| %>
               <%= image_tag image.variant( resize: "150x150" ).processed %>
             <% end %>

             <% else %>
               <%= image_tag "no_image.jpg" %>
              <% end %>
           <% end %>
           </div>
           <div class="card-body">
             <p class="article-details card-text"><%= bookmark.article.content.truncate(15) %></p>
           </div>
         </div>
       </div>
       <% end %>
     </div>
     </div>
     <div class="row justify-content-lg-center">
       <%= paginate @bookmarks %>
     </div>
   </div>
</div>