<div class="container">
  <!--エラーメッセージ-->
  <div class="row">
  <% if @article.errors.any? %>
    <div class="col-lg-10 mx-auto">
      <div class="alert alert-danger">
        <h5><strong>エラーが発生しました！</strong></h5>
        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
  <div class="row">
    <h4 class="heading col-lg-auto mt-3 text-center">新規記事投稿</h4>
  </div>

  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <%= form_with model: @article, url: articles_path, method: :post do |f| %>

    <form>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">タイトル<small>(必須)</small></label>
        <div class="col-sm-8">
        <%= f.text_field :title, class: "form-control-file", placeholder: "タイトル", required: 'required' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">画像（複数投稿可）</label>
        <div class="col-sm-8">
        <%= f.file_field :images, multiple: true %>
      </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">本文<small>(必須)</small></label>
        <div class="col-sm-8">
        <%= f.text_area :content, class: "form-control-file", placeholder: "ここに本文を記述します（1000文字以内）", rows: 10, required: 'required' %>
      </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">都道府県<small>(必須)</small></label>
        <div class="col-sm-8">
        <%= f.select :place_id, options_from_collection_for_select(Place.all, :id, :prefectures, f.object.place_id),  { include_blank: "--選択してください--" }, class: "form-control", required: 'required' %>
      </div>
      </div>

      <!--地図入力欄追加-->
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">住所</label>
        <div class="col-sm-8">
        <%= f.text_field :address, autofocus: true,placeholder: "住所を入力してください", class: "form-control" %>
      </div>
      </div>

       <div class="form-group row justify-content-center">
        <%= f.submit "新規投稿", class: "btn btn-primary" %>
      </div>
      </form>
      <% end %>
    </div>
  </div>
</div>