<h1>public/articles#showページ</h1>
<h2>publicの投稿詳細画面</h2>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start space-between">
        <table>
          <tr><!--プロフィール画像-->
            <td><%= link_to (@article.user) do %>
                <%= image_tag @article.user.get_profile_image, size: '50x50' %>
                <% end %>
            </td>
            <td><%= @article.title %></td><!--投稿タイトル-->
            <td><%= link_to @article.created_at.strftime('%Y/%m/%d %H:%M:%S'), article_path(id: @article.id) %></td><!--投稿日時タイムスタンプ-->
            <!--ゲストユーザーはブックマーク、編集、削除ボタンを非表示-->
            <% if current_user && current_user.name != "guestuser" %>
            <td id="bookmark_button_<%= @article.id %>"><!--ブックマーク-->
              <%= render 'public/bookmarks/bookmark', article: @article %>
            </td>

            <% if @article.user == current_user %>
            <td><%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-success" %></td><!--Editボタン-->
            <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td><!--Destroyボタン-->
            <% end %>
            <% end %>
          </tr>
        </table>

        <!--投稿の画像-->
        <div class="row">
          <% if @article.images.present? %>
            <% @article.images.each do |image| %>
              <%= image_tag image.variant( resize: "150x150" ).processed %>
            <% end %>
          <% else %>
            画像はありません
          <% end %>
        </div>


        <!--投稿記事本文-->
        <div class="row">
          <div class="col">
           <!--ハッシュタグ表示欄-->
            <p>
              <%= render_with_hashtags(@article.content) %>
            </p>
          </div>
        </div>

        <!--コメント入力欄-->
        <div class="row">
          <div class="col">
            <div id="article-comments">
            <%= render partial: "public/comments/comment", locals: {article: @article} %>
            </div>

            <!--ゲストユーザーはコメント入力欄を非表示-->
            <% if current_user && current_user.name != "guestuser" %>
            <div id ="form">
              <%= render partial: "public/comments/form", locals: {article: @article, comment: @comment} %>
            </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>