<div class="container">
  <div class="row">
    <h4 class="col-lg-auto text-center my-3">#<%= @tag.hashname %>の記事</h4>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= link_to article_path(article) do %>
          <% if article.images.attached? %>
            <% article.images.each do |image| %>
            <% end %>
            <%= image_tag article.images.first.variant( resize: "150x150" ).processed, class: "card-img-top" %>
            <% else %>
            <%= image_tag "no_image.jpg" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <p class="card-title"><strong><%= article.title %></strong></p>
            <p class="card-text"><%= article.user.name %></p>
            <p class="card-text"><%= article.content.truncate(15) %></p>
            <p class="card-text"><%#= render_with_hashtags(article.content) %></p>
            <p class="card-text"><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

    <%= link_to 'Back', articles_path %>