<h1>admin/users#showページ</h1>
<h2>adminのユーザー情報詳細管理画面</h2>
<div class="container">
  <div class="row">
    <h4 class="col-lg-auto text-center">ユーザー詳細画面</h4>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image, size: '50x50' %></td>
          </tr>
          <tr>
            <td><%= link_to "編集",  edit_admin_user_path(@user.id), class: "btn btn-success" %><!-- Editボタン --></td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>ニックネーム</tr>
          <td><%= @user.name %></td>
          <tr>自己紹介文</tr>
          <td colspan="3"><%= @user.introduction %></td>
          <tr>会員ステータス</tr>
          <td>
            <% if @user.is_deleted == true %>
            <td class="text-danger">退会済</td>
            <% else %>
            <td class="text-success">有効</td>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="row">
      <div>
      <h4 class="col-lg-auto text-center">投稿一覧(全<%=@articles.count %>件)</h4>
      </div>
      <div class="row">
        <div class="col-md-4">
            <!--<div class="card mb-4 shadow-sm">-->
            <% @articles.each do |article| %>
              <a href="/articles/<%= article.id %>" class="card h-100 m-0"></a>
              <div class="card">
                <div class="bd-placeholder-img card-img-top">
                  <%= link_to article_path(article) do %>
                  <p class="img-wrap">
                  <% if article.images.present? %>
                    <% article.images.each do |image| %>
                      <%= image_tag image.variant( resize: "150x150" ).processed %>
                    <% end %>

                  <% else %>
                      <%= image_tag 'default_image.jpg' %>
                  <% end %>
                  </p>
                  <% end %>
                </div>
                <div class="card-body">
                  <p class="article-details card-text"><%= article.content.truncate(15) %></p>
                </div>
              </div>
            <% end %>
            <div class="row justify-content-lg-center">
               <%= paginate @articles %>
           </div>
          </div>
        </div>

      </div>
    </div>
</div>
