<div class="container">
  <div class="row mb-3 my-3">
    <div class="col-mb-4">
      <h4 class="heading">ログイン</h4>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mb-3">
      <%= f.label "メールアドレス", class:"col-md-2 offset-md-1" %>
      <%= f.email_field :email, autofocus: true, class:"col-md-3 form-control", required: 'required' %>
    </div>
    <div class="row mb-3">
      <%= f.label "パスワード", class:"col-md-2 offset-md-1" %>
      <%= f.password_field :password, class:"col-md-3 form-control", required: 'required' %>
    </div>
    <div class="row mb-3">
      <%= f.submit "ログイン", class:"col-md-2 offset-md-2 btn btn-primary" %>
      <%= link_to users_guest_sign_in_path, method: :post, class:"col-md-2 offset-md-1 btn btn-secondary" do %>
        ゲストログイン<br>（閲覧用）<br>
      <% end %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="row">
        <div class="col offset-md-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>


<div class="container">
  <div class="row mb-3 my-5">
    <div class="col-mb-4">
      <h4 class="heading">新規ユーザー登録</h4>
    </div>
  </div>
  <div class="row">
    <p>ユーザー登録がお済みでない方は
    <%= link_to "こちら", new_user_registration_path %></p>
  </div>

</div>