<h1>public/users#showページ</h1>
<h2>publicのユーザー情報詳細画面</h2>

<div class="container">
  <div class="row">
    <h4 class="col-lg-auto text-center">マイページ</h4>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image, size: '50x50' %></td>
          </tr>
          <tr>
            <td><!-- Editボタン --></td>
          </tr>
          <tr>
            <td><!-- ブックマーク一覧ボタン --></td>
          </tr>
          <tr>
            <td><!-- Todoリストボタン --></td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>ニックネーム</tr>
          <td><%= @user.name %></td>
          <tr>自己紹介文</tr>
          <td colspan="3"><%= @user.introduction %></td>
        </tbody>
      </table>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="row">
      <div>
      <h4 class="col-lg-auto text-center">投稿一覧(全<%=@articles.count %>件)</h4>
      </div>
      <div class="row">
        <% @articles.each do |article| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= link_to article_path(article) do %>
              <p class="img-wrap"><%= image_tag article.get_image(200,200) %></p>
            <% end %>
            <div class="card-body">
              <p class="article-details card-text"><%= article.content %></p>
            </div>
            <div class="d-flex justify-conten-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm-outline-secondary">続きを見る</button> <!-- 要リンク -->
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>












<!-- ゲストログイン時にプロフィール編集を行えないようにする記述--  >
<#% if user.name != "guestuser" %>
<div class='row'>
  <#%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<#% end %>