<div class="container">
  <div class="row">
    <h4 class="col-lg-auto text-center">マイページ</h4>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image, size: '50x50' %></td>
          </tr>
          <!--ゲストユーザーは編集、ブックマーク一覧、Todoリストのボタンを非表示-->
          <% if @user.is_not_guest? %>
          <tr>
            <td><%= link_to "編集",  edit_user_path(@user.id), class: "btn btn-success" %><!-- Editボタン --></td>
          </tr>
          <tr>
            <td><%= link_to "ブックマーク一覧",  article_bookmark_path(@user.id), class: "btn btn-success" %><!-- ブックマーク一覧ボタン --></td>
          </tr>
          <tr>
            <td><%= link_to "Todoリスト",  todos_path(@user.id), class: "btn btn-success" %><!-- Todoリストボタン --></td>
          </tr>
          <% end %>
          </tbody>
      </table>

    </div>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td colspan="2">ニックネーム</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td colspan="2">自己紹介文</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

    <!-- ユーザーの投稿一覧 -->
    <div class="container">
    <div class="row">
      <div>
      <h4 class="col-lg-auto text-center">投稿一覧(全<%=@articles.count %>件)</h4>
      </div>
      <!--投稿一覧(カードを入れる場所)-->
      <div class="row">
            <% @articles.each do |article| %>
            <div class="col-md-4">
              <a href="/articles/<%= article.id %>" class="card"></a>
              <div class="card mb-4 shadow-sm">
                <div class="card-img-top">
                  <%= link_to article_path(article) do %>
                  <% if article.images.attached? %>
                    <% article.images.each do |image| %>
                    <% end %>
                    <%= image_tag article.images.first.variant( resize: "150x150" ).processed %>
                  <% else %>
                      <%= image_tag 'no_image.jpg' %>
                  <% end %>
                  <% end %>
                </div>
                <div class="card-body">
                  <p class="article-details card-text"><%= article.content.truncate(15) %></p>
                </div>
              </div>
            </div>
            <% end %>
      </div>
    </div>
            <div class="row justify-content-lg-center">
               <%= paginate @articles %>
           </div>
    </div>