<h1>public/users#showページ</h1>
<h2>publicのユーザー情報詳細画面</h2>

<div class="container">
  <div class="row">
    <h4 class="col-lg-auto text-center">マイページ</h4>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image, size: '50x50' %></td>
          </tr>
          <tr>
            <td><%= link_to "編集",  edit_user_path(@user.id), class: "btn btn-success" %><!-- Editボタン --></td>
          </tr>
          <tr>
            <td><%= link_to "ブックマーク一覧",  article_bookmark_path(@user.id), class: "btn btn-success" %><!-- ブックマーク一覧ボタン --></td>
          </tr>
          <tr>
            <td><%= link_to "Todoリスト",  todos_path(@user.id), class: "btn btn-success" %><!-- Todoリストボタン --></td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>ニックネーム</tr>
          <td><%= @user.name %></td>
          <tr>自己紹介文</tr>
          <td colspan="3"><%= @user.introduction %></td>
        </tbody>
      </table>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="row">
      <div>
      <h4 class="col-lg-auto text-center">投稿一覧(全<%=@articles.count %>件)</h4>
      </div>
      <div class="row">
        <div class="col-md-4">
            <!--<div class="card mb-4 shadow-sm">-->
            <% @articles.each do |article| %>
              <a href="/articles/<%= article.id %>" class="card h-100 m-0"></a>
              <div class="card">
                <div class="bd-placeholder-img card-img-top">
                  <%= link_to article_path(article) do %>
                  <p class="img-wrap">
                  <% if article.images.attached? %>
                    <% article.images.each do |image| %>
                      <%#= image_tag image.variant( resize: "150x150" ).processed %>
                    <% end %>
                    <%= image_tag article.images.first.variant( resize: "150x150" ).processed %>
                  <% else %>
                      <%= image_tag 'no_image.jpg' %>
                  <% end %>
                  </p>
                  <% end %>
                </div>
                <div class="card-body">
                  <p class="article-details card-text"><%= article.content.truncate(15) %></p>
                </div>
              </div>
            <% end %>
            <div class="row justify-content-lg-center">
               <%= paginate @articles %>
           </div>
          </div>
        </div>
      </div>
    </div>
</div>












<!-- ゲストログイン時にプロフィール編集を行えないようにする記述--  >
<#% if user.name != "guestuser" %>
<div class='row'>
  <#%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<#% end %>